
body {
  background-color: lightblue;
}

h1 {
  color: white;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: brown;
  border-style: dotted;
  border-width: 2px 2px 8px 6px;
  border-left-color: darkblue;
  border-radius: 5px;
  margin :20px 20px 20px 20px ;
}
*{
  text-align: center;  
}


